# Copy this file to .env before running docker-compose up -d

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=usdt_rate
DB_SSLMODE=disable

# gRPC
GRPC_PORT=50051
